body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, #020b16, #010409);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: url('bklogin2.jpeg') no-repeat center center/cover;    display: flex;
   
  }
  
  .container {
    background: rgba(85, 86, 86, 0.42);
    border: 2px solid #00f0ff;
    border-radius: 10px;
    padding: 40px;
    width: 350px;
    box-shadow: 0 0 20px #00f0ff;
    position: relative;
  }
  
  .form .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #00f0ff;
    padding: 5px;
  }
  
  .input-group input {
    background: none;
    border: none;
    outline: none;
    color: hsl(0, 0%, 100%);
    padding: 10px;
    flex: 1;
    font-size: 16px;
  }
  .input-group input::placeholder {
    color: #cececece; 
    opacity: 1; 
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .user-icon {
    background-image: url('https://img.icons8.com/fluency-systems-regular/48/user.png');
  }
  
  .lock-icon {
    background-image: url('https://img.icons8.com/fluency-systems-regular/48/lock-2.png');
  }
  
  .options {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .options input {
    margin-right: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    background: none;
    border: 2px solid #00f0ff;
    padding: 10px 20px;
    color: #00f0ff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background: #00f0ff;
    color: #000;
  }
  
  .forgot {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .forgot a {
    color: #00f0ff;
    text-decoration: none;
  }
  
  .forgot a:hover {
    text-decoration: underline;
  }
  
  